{% extends 'base.html.twig'  %}
{% block body %}
    <h1 class="display-2"> Première page à développer</h1>


    <img src="https://www.icone-png.com/png/43/43290.png" alt="">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum incidunt nulla quidem vel vero!
        Aliquid cum dolorum eius error est fugit illum nesciunt nihil, possimus quibusdam quod quos, reprehenderit sit
        vel voluptates? Aspernatur consequatur est expedita impedit in non nostrum officia optio perspiciatis porro quas
        rerum, unde vitae voluptatum!</p>
    <p>Consectetur fugiat harum laboriosam laudantium maxime minima, neque officia
    provident quis sint velit, voluptates! A at blanditiis culpa dolores ea, eaque fugiat illo necessitatibus neque
    quaerat, quidem ratione recusandae repudiandae saepe, sapiente suscipit ullam vel voluptate? Amet culpa, cumque
    delectus, eaque eligendi harum laborum mollitia omnis rerum voluptas voluptate voluptatibus!</p>
    <p>A alias
    asperiores atque blanditiis consectetur deserunt doloremque dolorum facere impedit laborum magnam magni nobis non
    numquam pariatur praesentium quae quos ratione, rem soluta sunt voluptatem voluptatibus! Debitis in iure officia
    quasi voluptatum. Adipisci alias expedita, fugit harum id incidunt libero nihil obcaecati omnis quaerat quibusdam
    quos sint soluta ut.
    </p>


{% endblock %}
